body {
   position: relative;
width: 1280px;
height: 720px;

background: #FFFFFF;
}

img.retangle {
   position: absolute;
width: 826.78px;
height: 294px;
left: 144px;
top: 8px;
}

img.logo {
   position: absolute;
width: 200px;
height: 200px;
left: 1000px;
top: 22px;


}
h1 {
   position: absolute;
width: 279px;
height: 79px;
left: 160px;
top: 100px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}

h2 {
   position: absolute;
width: 644px;
height: 177px;
left: 160px;
top: 135px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;

}
h3 {
   position: absolute;
width: 266px;
height: 39px;
left: 482px;
top: 321px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 23px;

color: #000000;

}
img.meja {
   position: absolute;
width: 409px;
height: 470px;
left: 1100px;
top: 265px;

}

img.kartu1{
   position: absolute;
width: 250px;
height: 456px;
top:400px;
left: 50px;
}

img.kartu2 {
   position: absolute;
width: 250px;
height: 355px;
top:450px;
left: 400px;
}

p1{
   position: absolute;
width: 187.69px;
height: 79.53px;
top: 635px;
left: 77px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;

color: #000000;
}

p2{
   position: absolute;
width: 279.04px;
height: 56.18px;
top: 680px;
left: 56px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;

color: #000000;
}

p3 {
   position: absolute;
width: 187.69px;
height: 79.53px;
top: 635px;
left: 470px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;

color: #000000;
}
p4 {
   position: absolute;
   width: 240px;
   height: 56.18px;
   top: 680px;
   left: 410px;
   
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   line-height: 18px;
   
   color: #000000;   
}

a.readmore1 {
   position: absolute;
width: 120px;
height: 40px;
left: 100px;
top: 750px;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
text-align: center;
/* identical to box height */


color: #000000;
background: #095CA8;
border-radius: 40px;
}

a.readmore2 {
   position: absolute;
   width: 120px;
   height: 40px;
   left: 450px;
   top: 750px;
   
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 33px;
   text-align: center;
   /* identical to box height */
   
   
   color: #000000;
   background: #095CA8;
   border-radius: 40px;  
}

